In [597]:
import numpy as np
import pandas as pd
import ast

def convert(name):
    try:
        float(name)
        return ''
    except ValueError:
        name=name.replace(" ",'')
        name=name.replace(",",' ')
        return name
    
def genre_convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [598]:
tmdb=pd.read_csv('./tmdb_all_data.csv',lineterminator='\n',nrows=20000)
tmdb=tmdb.drop_duplicates(subset=['title','original_title'])
tmdb=tmdb.dropna(subset=['title','original_title','release_date','poster_path','overview'])

In [599]:
tmdb.shape

(17826, 26)

In [600]:
def prodc_convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [601]:
tmdb['movie_id']=tmdb['id']

data=tmdb.drop(columns=['backdrop_path','Unnamed: 0','id','imdb_id','original_language','revenue','status','video','homepage','budget'])
data['genres']=data['genres'].apply(genre_convert)

In [602]:
data['production_companies']=data['production_companies'].apply(genre_convert)
data['production_countries']=data['production_countries'].apply(genre_convert)
data['spoken_languages']=data['spoken_languages'].apply(genre_convert)
filtered_data=data

In [603]:
data.isna().sum()

adult                        0
belongs_to_collection    14910
genres                       0
original_title               0
overview                     0
popularity                   0
poster_path                  0
production_companies         0
production_countries         0
release_date                 0
runtime                      5
spoken_languages             0
tagline                   8232
title                        0
vote_average                 0
vote_count                   0
movie_id                     0
dtype: int64

In [604]:

filtered_data=filtered_data.dropna(subset=['title','original_title'])

In [605]:
filtered_data.shape

(17826, 17)

In [619]:

tmdbdata=pd.read_csv('./tmdb_5000_movies.csv')
tmdbcredit=pd.read_csv('./tmdb_5000_credits.csv')
newdt=tmdbdata.merge(tmdbcredit,on='title',how='right').drop(columns=['budget', 'homepage', 'id',
       'original_language', 'revenue', 'status'])

#cols2use=tt.columns.difference(filtered_data.columns)
f_newdt=newdt[['cast','crew','keywords','original_title']]

f_newdt=f_newdt.drop_duplicates(subset=['original_title'])
#print(cols2use)
#filt_data=filtered_data.merge(f_newdt,on='original_title',how='left')

filt_data=filtered_data.merge(f_newdt,on='original_title',how='left')



filt_data['title']=filt_data['title']+':'+filt_data['tagline']

#cst.to_csv('cset.csv')

In [620]:
def cast_conv(text):
    if(pd.isna(text)):
        return []
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L


def cast_convlist(text):
    if(text!=[]):
        return []
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [621]:
filt_data['cast']=filt_data['cast'].apply(cast_conv)

In [622]:
def fetch_director(text):

    if(pd.isna(text)):
        return []
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [623]:
filt_data['director'] = filt_data['crew'].apply(fetch_director)

In [624]:
def collapse(L):
    if(L!=[]):
        return []
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [625]:
filt_data['keywords'] = filt_data['keywords'].apply(cast_convlist)
filt_data['crew'] = filt_data['crew'].apply(cast_convlist)


filt_data['cast'] = filt_data['cast'].apply(collapse)
filt_data['crew'] = filt_data['crew'].apply(collapse)
filt_data['director'] = filt_data['director'].apply(collapse)
filt_data['genres'] = filt_data['genres'].apply(collapse)
filt_data['keywords'] = filt_data['keywords'].apply(collapse)



#filt_data['overview'] + filt_data['genres'] + filt_data['keywords'] + filt_data['cast'] + filt_data['crew']+filt_data['production_companies'] + filt_data['production_companies'] + filt_data['original_title'] + filt_data['spoken_languages'] + filt_data['tagline']+filt_data['director']

In [626]:
def removebal(name):
    if(not pd.isnull(name)):
        return name.split()
    else:
        return []
    

filt_data['overview_split']=filt_data['overview'].apply(removebal)

In [627]:
filt_data['taglineT']=filt_data['tagline'].apply(removebal)

In [628]:

#filt_data['overview_split'] = filt_data['overview_split'].apply(collapse)
filt_data['production_companies'] = filt_data['production_companies'].apply(collapse)
filt_data['production_countries'] = filt_data['production_countries'].apply(collapse)
filt_data['original_Tmod'] = filt_data['original_title'].apply(lambda x:x.split(' '))
filt_data['overviewT'] = filt_data['overview'].apply(lambda x:x.split(' '))


filt_data=filt_data.drop(columns=['popularity','vote_count'])

In [629]:
filt_data.head(2)

,adult,belongs_to_collection,genres,original_title,overview,poster_path,production_companies,production_countries,release_date,runtime,...,vote_average,movie_id,cast,crew,keywords,director,overview_split,taglineT,original_Tmod,overviewT
0,False,NaN,[],Ariel,Taisto Kasurinen is a Finnish coal miner whose...,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,[],[],1988-10-21,73.0,...,6.8,2,[],[],[],[],"[Taisto, Kasurinen, is, a, Finnish, coal, mine...",[],[Ariel],"[Taisto, Kasurinen, is, a, Finnish, coal, mine..."
1,False,NaN,[],Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",/nj01hspawPof0mJmlgfjuLyJuRN.jpg,[],[],1986-10-17,74.0,...,7.2,3,[],[],[],[],"[An, episode, in, the, life, of, Nikander,, a,...",[],"[Varjoja, paratiisissa]","[An, episode, in, the, life, of, Nikander,, a,..."

In [630]:
filt_data['tags']=filt_data['genres'] + filt_data['keywords'] + filt_data['cast'] + filt_data['crew']+filt_data['production_companies'] + filt_data['production_countries']+filt_data['overviewT'] +  filt_data['spoken_languages'] + filt_data['taglineT']+filt_data['director']
#production_companies

In [631]:
filt_data.head(2)

,adult,belongs_to_collection,genres,original_title,overview,poster_path,production_companies,production_countries,release_date,runtime,...,movie_id,cast,crew,keywords,director,overview_split,taglineT,original_Tmod,overviewT,tags
0,False,NaN,[],Ariel,Taisto Kasurinen is a Finnish coal miner whose...,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,[],[],1988-10-21,73.0,...,2,[],[],[],[],"[Taisto, Kasurinen, is, a, Finnish, coal, mine...",[],[Ariel],"[Taisto, Kasurinen, is, a, Finnish, coal, mine...","[Taisto, Kasurinen, is, a, Finnish, coal, mine..."
1,False,NaN,[],Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",/nj01hspawPof0mJmlgfjuLyJuRN.jpg,[],[],1986-10-17,74.0,...,3,[],[],[],[],"[An, episode, in, the, life, of, Nikander,, a,...",[],"[Varjoja, paratiisissa]","[An, episode, in, the, life, of, Nikander,, a,...","[An, episode, in, the, life, of, Nikander,, a,..."

In [ ]:
filt_data=filt_data.drop(columns=['genres','overviewT','production_companies','production_countries','title','movie_id','cast','crew','keywords','director','overview_split','original_Tmod','taglineT'])

def conv(name):
    v=''
    for i in name:
        v=v+' '+i
    return v

filt_data['tags']=filt_data['tags'].apply(conv)

In [633]:
filt_data.shape

(17826, 11)

In [634]:
import gc
gc.collect()

17440

In [635]:


from sklearn.feature_extraction.text import CountVectorizer


cv = CountVectorizer(max_features=5000,stop_words="english")
vector = cv.fit_transform(filt_data['tags']).toarray()

vector.shape



from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vector)

In [636]:
import pickle

pickle.dump(filt_data,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

In [637]:
filt_data.head(3)

,adult,belongs_to_collection,original_title,overview,poster_path,release_date,runtime,spoken_languages,tagline,vote_average,tags
0,False,NaN,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,/ojDg0PGvs6R9xYFodRct2kdI6wC.jpg,1988-10-21,73.0,"[Deutsch, suomi]",NaN,6.8,Taisto Kasurinen is a Finnish coal miner whos...
1,False,NaN,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",/nj01hspawPof0mJmlgfjuLyJuRN.jpg,1986-10-17,74.0,"[English, svenska, suomi]",NaN,7.2,"An episode in the life of Nikander, a garbage..."
2,False,NaN,Four Rooms,It's Ted the Bellhop's first night on the job....,/75aHn1NOYXh4M7L5shoeQ6NGykP.jpg,1995-12-09,98.0,[English],Twelve outrageous guests. Four scandalous requ...,5.7,It's Ted the Bellhop's first night on the job...